.btn-primary, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
	background-color: #ffc107 !important;
	border-color: #ffc107 !important;
}

.page-item.active .page-link {
	
	background-color: #ca9700 !important;
	border-color: #ca9701 !important;
}

.app-header .navbar-brand {
	color: #000000c2;
}

.sidebar {
	background-color: #2d2d2d;
}